<section class="content">
    <div class="container-fluid">

        <div class="body">
            <ol class="breadcrumb breadcrumb-col-pink align-right">
                <li><a href="/"><i class="material-icons">home</i> ප්‍රධාන මෙනුව - අංශයන්</a></li>
                <li class="active"><i class="material-icons">library_books</i> New Section</li>
            </ol>
        </div>
        <div class="block-header">

        </div>

        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            නව ප්‍රධාන අංශයක් එකතු කිරීමෙ පෝරමය
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form method="POST" action="/sections/addSection">
                            <label for="sectionId">නව අංශයේ කේතය</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <!--<input type="text" name="sectionId" id="sectionId" class="form-control" >-->
                                    <input type="text" name="sectionId" id="sectionId" class="form-control" value="{{section_id}}" required readonly>
                                </div>
                            </div>
                            <label for="sectionName">නව අංශයේ නම </label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="sectionName" name="sectionName" class="form-control" placeholder="" required>
                                </div>
                            </div>

                            <br>

                            <button type="reset" class="btn btn-primary m-t-15 waves-effect btn-lg">RESET</button>
                            <button type="submit" class="btn btn-success m-t-15 waves-effect btn-lg">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            දැනට පවතින අංශයන්
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="list-group">
                        {{#each sections}}
                            <button type="button" onclick="location.href = '/sections/{{this.section_name}}/{{this.section_id}}'" class="list-group-item">{{this.section_id}} &nbsp;&nbsp;  {{this.section_name}}</button>
                        {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- #END# Vertical Layout -->
    </div>
</section>