<section class="content">
    <div class="container-fluid">

        <div class="body">
            <ol class="breadcrumb breadcrumb-col-pink align-right">
                <li><a href="/"><i class="material-icons">home</i>ප්‍රධාන මෙනුව - අංශයන්</a></li>
                <li class="active"><i class="material-icons">library_books</i>{{sectionnName}} - උප අංශ </li>
            </ol>
        </div>
        <div class="block-header">
            <h3><b>{{sectionnName}} - උප අංශ</b></h3>
        </div>
        <hr>
        <div class="icon-and-text-button-demo">
            <button type="button" class="btn btn-success btn-lg waves-effect" onclick="location.href = '/subSections/addSubsection/{{sectionnName}}/{{sectionId}}';">
                <!--<i class="material-icons">home</i>-->
                <span>නව උප අංශයක් එකතු කිරීමට </span>
            </button>
        </div>
        <br>
        <!-- Basic Example -->
        <div class="row clearfix">
            {{#each subSections}}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-cyan">
                            <h2>
                                {{this.subSection_name}} <small>Description text here...</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item">ඉඩම් හා ගොඩනැගිලි</a>
                                <a href="javascript:void(0);" class="list-group-item">යන්ත්‍ර සූත්‍ර හා උපකරණ</a>
                                <a href="javascript:void(0);" class="list-group-item">මෝටර් රථ හා කරත්ත </a>
                                <a href="javascript:void(0);" class="list-group-item">ලී බඩු හා සවි කිරිම් </a>
                                <a href="javascript:void(0);" class="list-group-item">ආයුධ ආම්පන්න හා මෙවලම්</a>
                                <a href="javascript:void(0);" class="list-group-item">පුස්තකාල පොත්</a>
                                <a href="javascript:void(0);" class="list-group-item">වෙනත් උපකරණ</a>
                            </div>
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>
        <!-- #END# Colored Card - With Loading -->
    </div>
</section>